body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07e6f6;
  color: rgb(253, 251, 251);
  padding: 10px 40px;
  
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding-right: 20px;
}

.logo a:hover {
  text-decoration: none;
}

.logo img {
  height: 60px;
  margin-right: 20px;
}

.brand {
  font-size: 2.0em;
  font-weight: bold;
  text-shadow: 0px 5px 5px rgb(5, 5, 5);
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.0em;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-shadow: 2px 3px 3px rgb(0, 0, 0);
}

.nav-links .active {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: none;

}

.nav-links a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transform: translateY(-2px);
  font-weight: bold;
}

.hero {
  position: relative;
  text-align: center;
  padding: 150px 20px 80px;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: -190px;
  left: 53%;
  transform: translateX(-50%);
  width: 700px;
  height: 700px;
  background: url('./assets/images/MoFunDevsLogo.png') no-repeat center;
  background-size: contain;
  opacity: 0.15;
  z-index: -1;
}

.merch-hero {
  display: none;
}

.button-section {
  background-color: #006381;
  padding: 30px 0px;
  position: relative;
  text-align: center;
  z-index: 2;

}

.hero h1 {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 5.0em;
  color: rgb(8, 7, 7);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hero-btn {
  background-color: #07e6f6;
  padding: 15px 150px;
  margin: 0px 0px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 5px 3px 5px rgba(2, 2, 2, 0.2);
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.hero-btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transform: translateY(-2px);
}
.info-section {
  padding: 50px 20px;
  text-align: center;
  background-color: white;
}

.info-section h2 {
  font-family: 'Arial Black', sans-serif;
  font-style: italic;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.social-text {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 40px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 40px;
}

.icon-link img {
  width: 80px;
  height: 80px;
  transition: transform 0.3s;
}

.icon-link img:hover {
  transform: scale(1.75);
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.content {
  text-align: left;
  padding-left: 30px;
  background-color: rgb(0, 240, 252);
}

.content-divider {
  padding: 25px;
}

.form-divider {
  padding: 50px;
}

.contact-content {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.store iframe {
width: 100%;
min-height: 1000px;
border: none;
}

.store-button {
  background-color: #07e6f6;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3 ease;
}

.store-button:hover {
  background-color: #005f66;
}

.about-text {
  text-align: center;
  padding: 25px;
  font-size: 1.5em;
  font-weight: bold;
}

.about-section {
  background-color: #07e6f6;
}

.photo-section {
  text-align: center;
  margin: 30px 0;
}

.selfie {
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.photo-h1 {
  text-align: center;
  font-size: 2.5em;
  padding: 30px;
  font-weight: bold;
}

.photo-p {
  text-align: center;
  font-size: 1.0em;
  padding: 30px;
  font-weight: bold;
}

.showcase-h1 {
  text-align: center;
  font-size: 2.0em;
}

.showcase-p {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 25px
}

.design-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}

.design-showcase img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
}
.design-showcase:hover {
  transform: scale(1.05)
}

.soulmark {
  max-width: 900px;
  margin: auto;
  padding: 40px 0;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  scale: 0.5;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.8);
  border-radius: 40px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  color: #07e6f6;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

.soulmark-description {
  padding: 30px;
  text-align: center;
  background-color:#07e6f6;
}

.soulmark-info {
  text-align: center;
  padding: 25px;
}
.soulmark-info h2 {
  padding: 10px;;
}
.soulmark-info a {
  text-decoration: none;
  color: #07e6f6;
  background-color: #000000;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
}

.soulmark-info a:hover {
  color: bisque;
  background-color: #005f66;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
}

.button-section h2 {
  color: aliceblue;
}

.keyboard-locker {
  text-align: center;
  font-size: 2.0em;
}

.keyboard-locker img {
  scale: 0.4;
  width: 100%;;
}

.keyboard-locker p {
  text-align: center;
  font-size: 0.6em;
  padding-inline: 25px;
}

.keyboard-locker a {
  text-decoration: none;
  color: #005f66;
  background-color:#07e6f6;
  padding: 5px;
  border-radius: 10px;
}
.keyboard-locker a:hover {
  background-color: #000000;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

.menu-toggle {
  display: block;
  color: white;
  text-shadow: 2px 5px 6px rgba(0, 0, 0, 1.0);
  
}

.menu-toggle:hover {
  scale: 1.5;
  color: black;
}

.nav-links {
  overflow: hidden;
  max-height: 0;
  flex-direction: column;
  width: 100%;
  background-color: #07e6f6;
  transition: max-height 0.4s ease-in-out;
}

.nav-links.show {
  max-height: 800px;
}

.nav-links a {
  display: block;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1.2em;
}

.button-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.hero-btn {
  width: 100%;
  padding: 15px 0;
}

.icon-link img {
 width: 50px;
 height: 50px;
}

.hero h1 {
  font-size: 2.5em;
}

.calendar-container iframe {
  width: 100%;
  height: 400px
}

.selfie {
  max-width: 200px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
}

}